<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>294575326706-o73cv9l6ghlmue3hjclb72tdc1r2a5sf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.294575326706-o73cv9l6ghlmue3hjclb72tdc1r2a5sf</string>
	<key>API_KEY</key>
	<string>AIzaSyBB15BA7rr5fJi5If7aOlOiG0_mDm9vY8M</string>
	<key>GCM_SENDER_ID</key>
	<string>294575326706</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vlogger.app</string>
	<key>PROJECT_ID</key>
	<string>vlogger-ee92b</string>
	<key>STORAGE_BUCKET</key>
	<string>vlogger-ee92b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:294575326706:ios:4024ec332df3f91d4b176b</string>
</dict>
</plist>